<% include partials/header %>

<div class="container">
   <div class="jumbotron">
      <h1 id="zupdog">Zupdog</h1>
      <p>Welcome to my world</p>
      <a class="btn btn-primary btn-lg" href="/about" role="button">Learn more</a>
   </div>
</div>





<% include partials/footer %>
